//colors
$mainColor: #f0e2e7;
$gryffindor: #b20d30;
$hufflepuff: #c17817;
$slytherin: #3f784c;
$ravenclaw: #3f84e5;

//fonts
$headerFont: 'Yeseva One', cursive;
$mainFont: 'Poppins', sans-serif;
