@import 'variables';

.characters-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & .character-item {
    padding: 1rem;
    border: solid black 2px;
    background-color: gainsboro;

    & .character-pic {
      width: 13rem;
    }

    & .character-name {
      font-size: 1.1rem;
    }
  }
}

.character-detail-page {
  padding: 1rem;
  width: 100vw;

  & .link-back {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background-color: $fourthColor;
    padding: 0.5rem;
    border-radius: 0.8rem;
  }

  & .character-detail {
    display: flex;
    width: 50rem;
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    font-size: 1.3rem;
    background-color: $mainColor;
  }
}
