@import 'reset';
@import 'variables';

.characters-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;

  & .character-item-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;

    & .character-item {
      padding: 1rem;
      border-radius: 20px 10px 0px;
      border: solid black 2px;
      background-color: $mainColor;
      height: 22rem;
      box-shadow: #f2e5e9 inset 10px 10px 5px;

      & .character-pic {
        width: 13rem;
        height: 17rem;
        border-top: solid white 0.7rem;
        border-left: solid white 0.7rem;
        border-right: solid white 0.7rem;
        border-bottom: solid white 2.2rem;
      }

      & .character-name {
        font-size: 1.1rem;
        position: relative;
        bottom: 2rem;
        left: 0.7rem;
      }
      & .character-species {
        position: relative;
        bottom: 1rem;
      }
    }
  }
}
