@import 'reset';
@import 'variables';

.character-detail-page {
  padding: 1rem;
  width: 100vw;

  & .link-back {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    background-color: $mainColor;
    padding: 0.7rem;
    border-radius: 0.8rem;
    border: black solid 2px;
  }

  & .character-detail {
    display: flex;
    width: 50rem;
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    font-size: 1.3rem;
    background-color: $mainColor;

    & .character-detail-pic {
      max-width: 10rem;
    }
  }

  & .Gryffindor {
    background-color: $gryffindor;
  }

  & .Slytherin {
    background-color: $slytherin;
  }

  & .Hufflepuff {
    background-color: $hufflepuff;
  }

  & .Ravenclaw {
    background-color: $ravenclaw;
  }
}
