@import 'reset';
@import 'variables';

.characters-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;

  & .character-item-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;

    & .character-item {
      border: solid black 2px;
      background-color: $mainColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.7rem;
      border-radius: 20px 10px 0px;
      max-width: max-content;

      &:hover {
        background-color: $secondColor;
        box-shadow: none;
      }

      @media all and (min-width: 1024px) {
        height: 22rem;
      }

      & .character-pic {
        width: 7rem;
        height: 10rem;
        border-top: solid white 0.7rem;
        border-left: solid white 0.7rem;
        border-right: solid white 0.7rem;
        border-bottom: solid white 1.6rem;

        @media all and (min-width: 1024px) {
          width: 13rem;
          height: 17rem;
          border-top: solid white 0.7rem;
          border-left: solid white 0.7rem;
          border-right: solid white 0.7rem;
          border-bottom: solid white 2.2rem;
        }
      }

      & .character-name {
        position: relative;
        font-family: $mainFont;
        font-size: 0.7rem;
        bottom: 1.4rem;

        @media all and (min-width: 1024px) {
          font-size: 1.1rem;
          bottom: 2rem;
          left: 0.7rem;
        }
      }
      & .character-species {
        font-size: 0.9rem;
        font-family: $mainFont;
        position: relative;
      }
    }
  }
}
