@import 'reset';
@import 'variables';

.header-link {
  text-decoration: none;
  color: black;

  & .header {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media all and (min-width: 768px) {
    }

    @media all and (min-width: 1024px) {
    }

    & .header-title {
      font-family: $headerFont;
      font-size: 2rem;
      margin-left: 1rem;
      text-align: center;

      @media all and (min-width: 1024px) {
        font-size: 3rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }

    & .header-image {
      position: relative;
      z-index: -1;
      top: 12rem;
    }
  }
}
